<h1>Pagina Person</h1>

@model Person

@Html.LabelFor(m=>m.name,"Name"): @Model.name
@Html.LabelFor(m=>m.lastname,"Lastname"): @Model.lastname
@Html.LabelFor(m=>m.age,"Age"): @Model.age
@Html.LabelFor(m=>m.direction,"Directions"): @Model.direction
@Html.LabelFor(m=>m.email,"Email"): @Model.email
@Html.LabelFor(m=>m.phonenumber,"Phonenumber"): @Model.phonenumber