<h1>Pagina Person</h1>

@model Person

@Html.LabelFor(m=>m.Name,"Name"): @Model.Name
@Html.LabelFor(m=>m.Lastname,"Lastname"): @Model.Lastname
@Html.LabelFor(m=>m.Age,"Age"): @Model.Age
@Html.LabelFor(m=>m.Direction,"Directions"): @Model.Direction
